@model News

<div class="col">
    <div class="card shadow-sm">
        <a href="/News/Detail/@Model.Id">
            <img class="bd-placeholder-img card-img-top" src="/Img/@Model.Image" alt="@Model.Name" width="100%" height="225" />
        </a>
        <div class="card-body">
            <p class="card-text">
                @Model.Name
            </p>
        </div>
    </div>
</div>