@model IEnumerable<Brand>

@{
    ViewData["Title"] = "Markalar";
}

<h1>Markalar</h1>

<p>
    En iyi markalar, uygun fiyatları ile SM Store'da.
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <a href="/Brands/Detail/@item.Id">
                <img src="/Img/@item.Image" alt="@item.Name" class="img-fluid" title="@item.Name" />
            </a>
        </div>
    }
</div>