@model IEnumerable<News>

@{
    ViewData["Title"] = "Bizden Haberler";
}

<div class="text-center">
    <h1 class="display-5">Bizden Haberler</h1>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_NewsPartial", item)
    }
</div>